<div id="mountain" style="display:none">{{mountain}}</div>
<div id="doy" style="display:none">{{doy}}</div>

<div class="row">  
  <a class="btn btn-default" href="?doy={{prevDoy}}">Prev Day</a>
  <a class="btn btn-default" href="?doy={{nextDoy}}">Next Day</a>
  <font>{{date}}</font>
</div>

<div id="container" style="min-width: 800; height: 400px; margin: 0 auto"></div>

<script>
 $(document).ready(function(){

    loadStats($("#mountain").text(),$("#doy").text());

    function loadStats(mnt,doy){

      var request = $.ajax({
          url: "/"+mnt+"/stats.json?doy="+doy,
          type: 'get',
          beforeSend: function(xhr){xhr.setRequestHeader('Accept', 'application/json');}
      });

      request.done(function (res, textStatus, jqXHR){
        $('#container').highcharts({
            title: {
                text: 'Today',
                x: -20 //center
            },
            yAxis: {
                title: {
                    text: 'Lift Rides'
                },
            },
            xAxis : {type : 'datetime'},
            series: [{
                name: 'Breck Total',
                data: res.liftStats
            },
            {
                name: 'Breck Change',
                data: res.liftDxStats
            }]
        });

      });
      
      request.fail(function (jqXHR, textStatus, errorThrown){
        console.error(errorThrown);
      });
    }

 });
</script>